.logo {
  font-size: 24px;
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

nav {
  display: flex;
  gap: 4vw;
  margin: 5vh 0;
}

nav a {
  border: 1px solid black;
  padding: 8px 16px;
  border-radius: 8px;
}

a{
    color: initial;
    text-decoration: none;
}
